<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Caship>
            <version>2.0</version>
        </Infomodus_Caship>
    </modules>
    <frontend>
        <routers>
            <caship>
                <use>standard</use>
                <args>
                    <module>Infomodus_Caship</module>
                    <frontName>caship</frontName>
                </args>
            </caship>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Infomodus_Caship after="Mage_Adminhtml">Infomodus_Caship_Adminhtml</Infomodus_Caship>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <caship>
                    <file>caship.xml</file>
                </caship>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <caship>
                <class>Infomodus_Caship_Model</class>
                <resourceModel>caship_mysql4</resourceModel>
            </caship>
            <caship_mysql4>
                <class>Infomodus_Caship_Model_Mysql4</class>
                <entities>
                    <method>
                        <table>infomodus_caship</table>
                    </method>
                    <errorlog>
                        <table>infomodus_caship_error</table>
                    </errorlog>
                </entities>
            </caship_mysql4>
        </models>
        <resources>
            <caship_setup>
                <setup>
                    <module>Infomodus_Caship</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </caship_setup>
            <caship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </caship_write>
            <caship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </caship_read>
        </resources>
        <blocks>
            <caship>
                <class>Infomodus_Caship_Block</class>
            </caship>
        </blocks>
        <helpers>
            <caship>
                <class>Infomodus_Caship_Helper</class>
            </caship>
        </helpers>
    </global>
    <default>
        <carriers>
            <caship>
                <active>0</active>
                <model>caship/carrier</model>
                <title>Infomodus Shipping Methods</title>
                <rate>1</rate>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
                <lang>en_US</lang>
            </caship>
        </carriers>
    </default>
</config>