<?xml version="1.0"?>
<config>
    <modules>
        <VES_PdfProCustomVariables>
            <version>1.0.0.2</version>
        </VES_PdfProCustomVariables>
    </modules>
    <admin>
        <routers>
			<customvariable_cp>
				<use>admin</use>
				<args>
					<module>VES_PdfProCustomVariables</module>
					<frontName>customvariable_cp</frontName>
				</args>
			</customvariable_cp>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<pdfpro>            
				<children>
					<custom_variables>
						<title>Manage Custom Variables</title>
						<sort_order>25</sort_order>
						<action>customvariable_cp/adminhtml_variables</action>
					</custom_variables>
				</children>
			</pdfpro>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<pdfpro>
							<children>
								<custom_variables>
									<title>Easy PDF -Custom Variables</title>
									<sort_order>10</sort_order>
								</custom_variables>
							</children>
						</pdfpro>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pdfprocustomvariables>
					<file>ves_pdfprocustomvariables.xml</file>
				</pdfprocustomvariables>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<events>
			<ves_pdfpro_data_prepare_after>
				<observers>
	                <pdfprocustomvariables>
	                    <class>pdfprocustomvariables/observer</class>
	                    <method>ves_pdfpro_data_prepare_after</method>
	                </pdfprocustomvariables>
	            </observers>
			</ves_pdfpro_data_prepare_after>
		</events>
		
        <models>
            <pdfprocustomvariables>
                <class>VES_PdfProCustomVariables_Model</class>
                <resourceModel>pdfprocustomvariables_mysql4</resourceModel>
            </pdfprocustomvariables>
            <pdfprocustomvariables_mysql4>
                <class>VES_PdfProCustomVariables_Model_Mysql4</class>
                <entities>
                    <pdfprocustomvariables>
                        <table>ves_pdfprocustomvariables_customvariables</table>
                    </pdfprocustomvariables>
                </entities>
            </pdfprocustomvariables_mysql4>
        </models>
        
        <resources>
            <pdfprocustomvariables_setup>
                <setup>
                    <module>VES_PdfProCustomVariables</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdfprocustomvariables_setup>
            <pdfprocustomvariables_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdfprocustomvariables_write>
            <pdfprocustomvariables_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdfprocustomvariables_read>
        </resources>
        
        <blocks>
            <pdfprocustomvariables>
                <class>VES_PdfProCustomVariables_Block</class>
            </pdfprocustomvariables>
        </blocks>
        
        <helpers>
            <pdfprocustomvariables>
                <class>VES_PdfProCustomVariables_Helper</class>
            </pdfprocustomvariables>
        </helpers>
    </global>
</config>