<?xml version="1.0"?>
<config>
    <modules>
        <Infomodus_Upslabelinv>
            <version>0.1.0</version>
        </Infomodus_Upslabelinv>
    </modules>
    <frontend>
        <routers>
            <upslabelinv>
                <use>standard</use>
                <args>
                    <module>Infomodus_Upslabelinv</module>
                    <frontName>upslabelinv</frontName>
                </args>
            </upslabelinv>
        </routers>
        <layout>
            <updates>
                <upslabelinv>
                    <file>upslabelinv.xml</file>
                </upslabelinv>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <upslabelinv>
                <use>admin</use>
                <args>
                    <module>Infomodus_Upslabelinv</module>
                    <frontName>upslabelinv</frontName>
                </args>
            </upslabelinv>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <upslabel module="upslabel">
                <title>Upslabelinv</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="upslabel">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>upslabel/adminhtml_upslabel</action>
                    </items>
                </children>
            </upslabel>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <upslabelinv>
                                            <title>UPS Label</title>
                                        </upslabelinv>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <general>
                            <children>
                                <upslabelinv translate="title">
                                    <title>UPS Label</title>
                                    <sort_order>40</sort_order>
                                </upslabelinv>
                            </children>
                        </general>
                        <Infomodus_Upslabelinv>
                            <title>Upslabelinv Module</title>
                            <sort_order>10</sort_order>
                        </Infomodus_Upslabelinv>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <upslabelinv>
                    <file>upslabelinv.xml</file>
                </upslabelinv>
            </updates>
        </layout>
        <!--<events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <upslabelinv_core_block_abstract_prepare_layout_before>
                        <class>upslabelinv/observer</class>
                        <method>initUpslabel</method>
                    </upslabelinv_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>-->
    </adminhtml>
    <global>
        <models>
            <upslabelinv>
                <class>Infomodus_Upslabelinv_Model</class>
                <resourceModel>upslabelinv_mysql4</resourceModel>
            </upslabelinv>
            <upslabelinv_mysql4>
                <class>Infomodus_Upslabelinv_Model_Mysql4</class>
                <entities>
                    <upslabelinv>
                        <table>upslabelinv</table>
                    </upslabelinv>
                </entities>
            </upslabelinv_mysql4>
        </models>
        <resources>
            <upslabelinv_setup>
                <setup>
                    <module>Infomodus_Upslabelinv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upslabelinv_setup>
            <upslabelinv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upslabelinv_write>
            <upslabelinv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upslabelinv_read>
        </resources>
        <blocks>
            <upslabelinv>
                <class>Infomodus_Upslabelinv_Block</class>
            </upslabelinv>
        </blocks>
        <helpers>
            <upslabelinv>
                <class>Infomodus_Upslabelinv_Helper</class>
            </upslabelinv>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_create>Infomodus_Upslabelinv_Block_Sales_Order_Shipment_Create</sales_order_shipment_create>
                </rewrite>
                <rewrite>
                    <sales_order_shipment_view>Infomodus_Upslabelinv_Block_Sales_Order_Shipment_View</sales_order_shipment_view>
                </rewrite>
                <!--<rewrite>
                    <sales_order_grid>Infomodus_Upslabelinv_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>-->
            </adminhtml>
            <sales>
                <rewrite>
                    <order_info>Infomodus_Upslabelinv_Block_Sales_Order_Info_Buttons</order_info>
                    <!-- for 1.5 or high <order_info_buttons>Infomodus_Upslabelinv_Block_Sales_Order_Info_Buttons</order_info_buttons>  -->
                </rewrite>
            </sales>
        </blocks>
        <events>
              <checkout_type_onepage_save_order_after>
<!--<sales_order_save_after>-->
                <observers>
                  <upslabelinv_checkout_type_onepage_save_order_observer>
                    <type>singleton</type>
                    <class>Infomodus_Upslabelinv_Checkout_Model_Type_Onepage_Save_Order_Observer</class>
                    <method>after_save_order</method>
                  </upslabelinv_checkout_type_onepage_save_order_observer>
                </observers>
<!--</sales_order_save_after>-->
              </checkout_type_onepage_save_order_after>
            </events>
    </global>
</config>