<?xml version="1.0"?>
<config>
    <modules>
        <Godogi_Request>
            <version>1.0.0</version>
        </Godogi_Request>
    </modules>
    <frontend>
        <routers>
            <godogi_request>
                <use>standard</use>
                <args>
                    <module>Godogi_Request</module>
                    <frontName>requestAcademicAccount</frontName>
                </args>
            </godogi_request>
        </routers>
        <layout>
            <updates>
                <godogi_request>
                    <file>godogi/request.xml</file>
                </godogi_request>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <godogi_request>
                <class>Godogi_Request_Helper</class>
            </godogi_request>
        </helpers> 
        <blocks>
            <godogi_request>
                <class>Godogi_Request_Block</class>
            </godogi_request>
        </blocks>
        <models>
            <godogi_request>
                <class>Godogi_Request_Model</class>
                <resourceModel>godogi_request_resource</resourceModel>
            </godogi_request>
            <godogi_request_resource>
                <class>Godogi_Request_Model_Resource</class>
                <entities>
                    <request>
                        <table>godogi_request</table>
                    </request>
                </entities>
            </godogi_request_resource>
        </models>
        <resources>
            <godogi_request_setup>
                <setup>
                    <module>Godogi_Request</module>
                </setup>
            </godogi_request_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Godogi_Request before="Mage_Adminhtml">Godogi_Request_Adminhtml</Godogi_Request>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <godogi_request>
                    <file>godogi/request.xml</file>
                </godogi_request>
            </updates>
        </layout>
    </adminhtml>
</config>