<?xml version="1.0"?>
<config>
	<modules>
		<MDN_Canonical>
			<version>1.1.0</version>
		</MDN_Canonical>
	</modules>
	<frontend>
		<layout>
			<updates>
				<Canonical>
					<file>canonical.xml</file>
				</Canonical>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<Canonical>
				<class>MDN_Canonical_Helper</class>
			</Canonical>
		</helpers>
		<blocks>
			<Canonical>
				<class>MDN_Canonical_Block</class>
			</Canonical>
			<page>
				<rewrite>
					<html_pager>MDN_Canonical_Block_Page_Html_Pager</html_pager>
				</rewrite>
			</page>
		</blocks>
	</global>
</config>