<?xml version="1.0"?>
<!-- 
Version: 0.1.4 http://providelivehelp.com
Date: 11-JUN-2010
Copyright: (c) 2010 Provide Live Help
Created By: Sudhansu Ranjan Mangaraj (modulesoft.com)
 -->
<config>
	<tabs>
        <websitechat translate="label" module="websitechat">
            <label>Live Support Chat</label>
            <sort_order>101</sort_order>
        </websitechat>
    </tabs>
    <sections>
        <websitechat translate="label" module="websitechat">
            <label>Live Support Chat Settings</label>
			<tab>websitechat</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <websitechat translate="label">
                    <label>Settings</label>
                    <comment><![CDATA[
						<p>
							<div>Add Live Support Chat to your Magento Store in two easy steps:</div>
							<div style="margin-bottom:20px;">
								<ol style="list-style-type:decimal;">
									<li style="margin-left:18px;">Login into your <a href="http://providelivehelp.com/login" target="_blank">Customer Portal</a>, click "Chat Buttons" link in "My Account" panel an copy HTML button code.</li>
									<li style="margin-left:18px;">Paste Live Chat button HTML Code below and click "Save Config" button above.</li>
								</ol>
								<div>Don't have account yet? <a href="http://providelivehelp.com/en/register" target="_blank">Register</a> for FREE now.</div>
							</div>
						</p>
					]]></comment>
					<frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
						<title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
						<pages translate="label">
                            <label>Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>websitechat/system_config_source_pages</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                        </pages>
						<position translate="label">
                            <label>Block Reference</label>
                            <frontend_type>select</frontend_type>
                            <source_model>websitechat/system_config_source_postions</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                        </position>
						<chat_button_html translate="label">
                            <label>Chat Button HTML code</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </chat_button_html>
                    </fields>
                </websitechat>
            </groups>
        </websitechat>
    </sections>
</config>
