<?xml version="1.0"?>
<config>
    <modules>
        <Vianetz_AutomaticInvoice>
            <version>1.4.4</version>
        </Vianetz_AutomaticInvoice>
    </modules>

    <global>
        <models>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Model</class>
            </automaticinvoice>
        </models>
        <helpers>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Helper</class>
            </automaticinvoice>
        </helpers>
        <events>
            <sales_order_load_after>
                <observers>
                    <vianetz_automaticinvoice_order_register_status>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>registerOrderStatus</method>
                    </vianetz_automaticinvoice_order_register_status>
                </observers>
            </sales_order_load_after>
            <sales_order_save_after>
                <observers>
                    <vianetz_automaticinvoice_order_status_change_dispatch_event>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>dispatchOrderStatusChangeEvent</method>
                    </vianetz_automaticinvoice_order_status_change_dispatch_event>
                </observers>
            </sales_order_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <vianetz_automaticinvoice_invoice_save_pdf>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>saveInvoicePdf</method>
                    </vianetz_automaticinvoice_invoice_save_pdf>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <vianetz_automaticinvoice_shipment_save_pdf>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>saveShipmentPdf</method>
                    </vianetz_automaticinvoice_shipment_save_pdf>
                </observers>
            </sales_order_shipment_save_after>
            <automaticinvoice_sales_order_status_change_after>
                <observers>
                    <vianetz_automaticinvoice_order_observer_invoice>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>generateInvoice</method>
                    </vianetz_automaticinvoice_order_observer_invoice>
                    <vianetz_automaticinvoice_order_observer_shipment>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>generateShipment</method>
                    </vianetz_automaticinvoice_order_observer_shipment>
                    <vianetz_automaticinvoice_order_observer_invoice_send_email>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>sendInvoiceEmail</method>
                    </vianetz_automaticinvoice_order_observer_invoice_send_email>
                </observers>
            </automaticinvoice_sales_order_status_change_after>
        </events>
        <blocks>
            <automaticinvoice>
                <class>Vianetz_AutomaticInvoice_Block</class>
            </automaticinvoice>
        </blocks>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Vianetz_AutomaticInvoice>
                    <files>
                        <default>Vianetz_AutomaticInvoice.csv</default>
                    </files>
                </Vianetz_AutomaticInvoice>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <automaticinvoice>
                                            <title>Automatic Invoice</title>
                                        </automaticinvoice>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <vianetz_automaticinvoice_set_notify_customer_registry_key>
                        <type>singleton</type>
                        <class>automaticinvoice/order_observer</class>
                        <method>setNotifyCustomerRegistryKey</method>
                    </vianetz_automaticinvoice_set_notify_customer_registry_key>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <Vianetz_AutomaticInvoice>
                <use>standard</use>
                <args>
                    <module>Vianetz_AutomaticInvoice</module>
                    <frontName>automaticinvoice</frontName>
                </args>
            </Vianetz_AutomaticInvoice>
        </routers>
    </frontend>

    <phpunit>
        <suite>
            <modules>
                <Vianetz_AutomaticInvoice/>
            </modules>
        </suite>
    </phpunit>

    <crontab>
        <jobs>
            <automaticinvoice_process_async_queue>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>automaticinvoice/observer::processAsyncQueue</model>
                </run>
            </automaticinvoice_process_async_queue>
        </jobs>
    </crontab>

    <default>
        <automaticinvoice>
            <general>
                <licenses>3:Vianetz_AutomaticInvoice</licenses>
                <invoice_capture_online>0</invoice_capture_online>
                <log_enabled>0</log_enabled>
            </general>
            <invoice>
                <generate_on_order_status>pending</generate_on_order_status>
                <filter_grand_total_equals_zero>0</filter_grand_total_equals_zero>
                <limit_to_in_stock_items>0</limit_to_in_stock_items>
                <new_order_status>processing</new_order_status>
            </invoice>
            <shipment>
                <generate_on_order_status>processing</generate_on_order_status>
                <new_order_status>processing</new_order_status>
                <filter_grand_total_equals_zero>0</filter_grand_total_equals_zero>
            </shipment>
        </automaticinvoice>
    </default>
</config>
