div.socialbooster { margin:20px 0; clear: both !important; }
div.socialbooster:first-child { margin: 0 !important; }
/*div.socialbooster-expanded { height: 29px; overflow: hidden; }*/
div.socialbooster .legend { float: left; font-size: 12px; font-weight: bold; line-height: 17px; padding: 5px; border: 1px solid #ccc; margin:0 !important; background: #fff url('share-bg.jpg') repeat-x !important; }
div.socialbooster .legend ul.bookmarks { background:transparent none !important; width: auto !important; border: none !important; padding:0 !important; margin:0 !important; float: right !important; }
div.socialbooster .legend ul.bookmarks li { margin:0 !important; width: 34px !important; }
div.socialbooster .legend span { cursor:pointer; padding: 0 5px; }
div.socialbooster .legend ul.bookmarks li.and-more { width: auto !important; padding-left: 5px !important; }
div.socialbooster ul.bookmarks { width:auto !important; margin:-1px 0 0 0 !important; padding:5px 0 0 5px !important; float: left !important; }
div.socialbooster ul.bookmarks { background:#fff none !important; outline:0 none !important; border: 1px solid #ccc; }
div.socialbooster ul.bookmarks li {
    display:inline !important;
    float:left !important;
    list-style-type:none !important;
    margin:0 0 10px 0;
    height:17px !important;
    width:40px !important;
    cursor:pointer !important;
    padding:0 !important;
    background-color:transparent !important;
    border:0 none !important;
    outline:0 none !important;
    clear:none !important;
}
div.socialbooster ul.bookmarks li:before, div.socialbooster ul.bookmarks li:after, div.socialbooster ul.bookmarks li a:before, div.socialbooster ul.bookmarks li a:after { content:none !important; }
div.socialbooster ul.bookmarks a {
    display:block !important;
    width:40px !important;
    height:17px !important;
    text-indent: -9999px !important;
    background-color:transparent !important;
}
div.socialbooster ul.socials a:hover, div.socialbooster ul.socials li:hover { background-color:transparent !important; border:0 none !important; outline:0 none !important; }
li.sb-diigo, li.sb-digg, li.sb-reddit, li.sb-stumbleupon, li.sb-delicious, li.sb-yahoobuzz, li.sb-blinklist, li.sb-technorati, li.sb-facebook, li.sb-twitter, li.sb-myspace, li.sb-mixx, li.sb-scriptstyle, li.sb-designfloat, li.sb-mail, li.sb-comfeed, li.sb-newsvine, li.sb-devmarks, li.sb-linkedin, li.sb-google, li.sb-misterwong, li.sb-izeby, li.sb-twittley, li.sb-tipd, li.sb-pfbuzz, li.sb-friendfeed, li.sb-blogmarks, li.sb-fwisp, li.sb-designmoo, li.sb-bobrdobr, li.sb-yandex, li.sb-memoryru, li.sb-100zakladok, li.sb-moemesto, li.sb-ning, li.sb-hackernews, li.sb-identica, li.sb-printfriendly, li.sb-designbump, li.sb-fleck, li.sb-netvibes, li.sb-netvouz, li.sb-nujij, li.sb-globalgrind, li.sb-wikio, li.sb-xerpi, li.sb-sphinn, li.sb-blogospherenews, li.sb-posterous, li.sb-techmeme, li.sb-ekudos, li.sb-pingfm, li.sb-tomuse, li.sb-webblend, li.sb-wykop, li.sb-blogengage, li.sb-hyves, li.sb-pusha, li.sb-hatena, li.sb-mylinkvault, li.sb-slashdot, li.sb-squidoo, li.sb-propeller, li.sb-faqpal, li.sb-evernote, li.sb-meneame, li.sb-bitacoras, li.sb-jumptags, li.sb-bebo, li.sb-n4g, li.sb-strands, li.sb-orkut, li.sb-tumblr, li.sb-stumpedia, li.sb-current, li.sb-blogger, li.sb-plurk { background:url('social-booster-sprite.png') no-repeat !important; }
li.sb-newsvine { background-position:left bottom !important; }
li.sb-linkedin { background-position:-40px bottom !important; }
li.sb-devmarks { background-position:-80px bottom !important; }
li.sb-google { background-position:-120px bottom !important; }
li.sb-scriptstyle { background-position:-160px bottom !important; }
li.sb-mail { background-position:-200px bottom !important; }
li.sb-comfeed { background-position:-240px bottom !important; }
li.sb-twitter { background-position:-280px bottom !important; }
li.sb-technorati { background-position:-320px bottom !important; }
li.sb-stumbleupon { background-position:-360px bottom !important; }
li.sb-reddit { background-position:-400px bottom !important; }
li.sb-myspace { background-position:-440px bottom !important; }
li.sb-mixx { background-position:-480px bottom !important; }
li.sb-diigo { background-position:-520px bottom !important; }
li.sb-digg { background-position:-560px bottom !important; }
li.sb-designfloat { background-position:-600px bottom !important; }
li.sb-yahoobuzz { background-position:-640px bottom !important; }
li.sb-delicious { background-position:-680px bottom !important; }
li.sb-blinklist { background-position:-720px bottom !important; }
li.sb-facebook { background-position:-760px bottom !important; }
li.sb-misterwong { background-position:-800px bottom !important; }
li.sb-izeby { background-position:-840px bottom !important; }
li.sb-twittley { background-position:-880px bottom !important; }
li.sb-tipd { background-position:-920px bottom !important; }
li.sb-pfbuzz { background-position:-960px bottom !important; }
li.sb-friendfeed { background-position:-1000px bottom !important; }
li.sb-blogmarks { background-position:-1040px bottom !important; }
li.sb-fwisp { background-position:-1080px bottom !important; }
li.sb-designmoo { background-position:-1120px bottom !important; }
li.sb-bobrdobr { background-position:-1160px bottom !important; }
li.sb-memoryru { background-position:-1200px bottom !important; }
li.sb-100zakladok { background-position:-1240px bottom !important; }
li.sb-yandex { background-position:-1280px bottom !important; }
li.sb-moemesto { background-position:-1320px bottom !important; }
li.sb-marrows { background-position:-1360px bottom !important; }
li.sb-identica { background-position:-1400px bottom !important; }
li.sb-hackernews { background-position:-1440px bottom !important; }
li.sb-ning { background-position:-1480px bottom !important; }
li.sb-designbump { background-position:-1520px bottom !important; }
li.sb-printfriendly { background-position:-1560px bottom !important; }
li.sb-fleck{ background-position:-1600px bottom !important; }
li.sb-netvibes{ background-position:-1640px bottom !important; }
li.sb-netvouz{ background-position:-1680px bottom !important; }
li.sb-nujij{ background-position:-1720px bottom !important; }
li.sb-globalgrind{ background-position:-1760px bottom !important; }
li.sb-wikio{ background-position:-1800px bottom !important; }
li.sb-xerpi{ background-position:-1840px bottom !important; }
li.sb-sphinn{ background-position:-1880px bottom !important; }
li.sb-blogospherenews{ background-position:-1920px bottom !important; }
li.sb-posterous{ background-position:-1960px bottom !important; }
li.sb-techmeme{ background-position:-2000px bottom !important; }
li.sb-ekudos{ background-position:-2040px bottom !important; }
li.sb-pingfm{ background-position:-2080px bottom !important; }
li.sb-tomuse{ background-position:-2120px bottom !important; }
li.sb-webblend{ background-position:-2160px bottom !important; }
li.sb-wykop{ background-position:-2200px bottom !important; }
li.sb-blogengage{ background-position:-2240px bottom !important; }
li.sb-hyves { background-position:-2280px bottom !important; }
li.sb-pusha { background-position:-2320px bottom !important; }
li.sb-hatena { background-position:-2360px bottom !important; }
li.sb-mylinkvault { background-position:-2400px bottom !important; }
li.sb-slashdot { background-position:-2440px bottom !important; }
li.sb-squidoo { background-position:-2480px bottom !important; }
li.sb-propeller { background-position:-2520px bottom !important; }
li.sb-faqpal { background-position:-2560px bottom !important; }
li.sb-evernote { background-position:-2600px bottom !important; }
li.sb-meneame { background-position:-2640px bottom !important; }
li.sb-bitacoras { background-position:-2680px bottom !important; }
li.sb-jumptags { background-position:-2720px bottom !important; }
li.sb-bebo { background-position:-2760px bottom !important; }
li.sb-n4g { background-position:-2800px bottom !important; }
li.sb-strands { background-position:-2840px bottom !important; }
li.sb-orkut { background-position:-2880px bottom !important; }
li.sb-tumblr { background-position:-2920px bottom !important; }
li.sb-stumpedia { background-position:-2960px bottom !important; }
li.sb-current { background-position:-3000px bottom !important; }
li.sb-blogger { background-position:-3040px bottom !important; }
li.sb-plurk { background-position:-3080px bottom !important; }
/*li.sb-newsvine { background-position:left bottom !important; }
li.sb-newsvine:hover { background-position:left top !important; }
li.sb-linkedin { background-position:-70px bottom !important; }
li.sb-linkedin:hover { background-position:-70px top !important; }
li.sb-devmarks { background-position:-140px bottom !important; }
li.sb-devmarks:hover { background-position:-140px top !important; }
li.sb-google { background-position:-210px bottom !important; }
li.sb-google:hover { background-position:-210px top !important; }
li.sb-scriptstyle { background-position:-280px bottom !important; }
li.sb-scriptstyle:hover { background-position:-280px top !important; }
li.sb-mail { background-position:-350px bottom !important; }
li.sb-mail:hover { background-position:-350px top !important; }
li.sb-comfeed { background-position:-420px bottom !important; }
li.sb-comfeed:hover { background-position:-420px top !important; }
li.sb-twitter { background-position:-490px bottom !important; }
li.sb-twitter:hover { background-position:-490px top !important; }
li.sb-technorati { background-position:-560px bottom !important; }
li.sb-technorati:hover { background-position:-560px top !important; }
li.sb-stumbleupon { background-position:-630px bottom !important; }
li.sb-stumbleupon:hover { background-position:-630px top !important; }
li.sb-reddit { background-position:-700px bottom !important; }
li.sb-reddit:hover { background-position:-700px top !important; }
li.sb-myspace { background-position:-770px bottom !important; }
li.sb-myspace:hover { background-position:-770px top !important; }
li.sb-mixx { background-position:-840px bottom !important; }
li.sb-mixx:hover { background-position:-840px top !important; }
li.sb-diigo { background-position:-910px bottom !important; }
li.sb-diigo:hover { background-position:-910px top !important; }
li.sb-digg { background-position:-980px bottom !important; }
li.sb-digg:hover { background-position:-980px top !important; }
li.sb-designfloat { background-position:-1050px bottom !important; }
li.sb-designfloat:hover { background-position:-1050px top !important; }
li.sb-yahoobuzz { background-position:-1120px bottom !important; }
li.sb-yahoobuzz:hover { background-position:-1120px top !important; }
li.sb-delicious { background-position:-1190px bottom !important; }
li.sb-delicious:hover { background-position:-1190px top !important; }
li.sb-blinklist { background-position:-1260px bottom !important; }
li.sb-blinklist:hover { background-position:-1260px top !important; }
li.sb-facebook { background-position:-1330px bottom !important; }
li.sb-facebook:hover { background-position:-1330px top !important; }
li.sb-misterwong { background-position:-1400px bottom !important; }
li.sb-misterwong:hover { background-position:-1400px top !important; }
li.sb-izeby { background-position:-1470px bottom !important; }
li.sb-izeby:hover { background-position:-1470px top !important; }
li.sb-twittley { background-position:-1540px bottom !important; }
li.sb-twittley:hover { background-position:-1540px top !important; }
li.sb-tipd { background-position:-1610px bottom !important; }
li.sb-tipd:hover { background-position:-1610px top !important; }
li.sb-pfbuzz { background-position:-1680px bottom !important; }
li.sb-pfbuzz:hover { background-position:-1680px top !important; }
li.sb-friendfeed { background-position:-1750px bottom !important; }
li.sb-friendfeed:hover { background-position:-1750px top !important; }
li.sb-blogmarks { background-position:-1820px bottom !important; }
li.sb-blogmarks:hover { background-position:-1820px top !important; }
li.sb-fwisp { background-position:-1890px bottom !important; }
li.sb-fwisp:hover { background-position:-1890px top !important; }
li.sb-designmoo { background-position:-1960px bottom !important; }
li.sb-designmoo:hover { background-position:-1960px top !important; }
li.sb-bobrdobr { background-position:-2030px bottom !important; }
li.sb-bobrdobr:hover { background-position:-2030px top !important; }
li.sb-memoryru { background-position:-2100px bottom !important; }
li.sb-memoryru:hover { background-position:-2100px top !important; }
li.sb-100zakladok { background-position:-2170px bottom !important; }
li.sb-100zakladok:hover { background-position:-2170px top !important; }
li.sb-yandex { background-position:-2240px bottom !important; }
li.sb-yandex:hover { background-position:-2240px top !important; }
li.sb-moemesto { background-position:-2310px bottom !important; }
li.sb-moemesto:hover { background-position:-2310px top !important; }
li.sb-marrows { background-position:-2380px bottom !important; }
li.sb-marrows:hover { background-position:-2380px top !important; }
li.sb-identica { background-position:-2450px bottom !important; }
li.sb-identica:hover { background-position:-2450px top !important; }
li.sb-hackernews { background-position:-2520px bottom !important; }
li.sb-hackernews:hover { background-position:-2520px top !important; }
li.sb-ning { background-position:-2590px bottom !important; }
li.sb-ning:hover { background-position:-2590px top !important; }
li.sb-designbump { background-position:-2660px bottom !important; }
li.sb-designbump:hover { background-position:-2660px top !important; }
li.sb-printfriendly { background-position:-2730px bottom !important; }
li.sb-printfriendly:hover { background-position:-2730px top !important; }
li.sb-fleck{ background-position:-2800px bottom !important; }
li.sb-fleck:hover{ background-position:-2800px top !important; }
li.sb-netvibes{ background-position:-2870px bottom !important; }
li.sb-netvibes:hover{ background-position:-2870px top !important; }
li.sb-netvouz{ background-position:-2940px bottom !important; }
li.sb-netvouz:hover{ background-position:-2940px top !important; }
li.sb-nujij{ background-position:-3010px bottom !important; }
li.sb-nujij:hover{ background-position:-3010px top !important; }
li.sb-globalgrind{ background-position:-3080px bottom !important; }
li.sb-globalgrind:hover{ background-position:-3080px top !important; }
li.sb-wikio{ background-position:-3150px bottom !important; }
li.sb-wikio:hover{ background-position:-3150px top !important; }
li.sb-xerpi{ background-position:-3220px bottom !important; }
li.sb-xerpi:hover{ background-position:-3220px top !important; }
li.sb-sphinn{ background-position:-3290px bottom !important; }
li.sb-sphinn:hover{ background-position:-3290px top !important; }
li.sb-blogospherenews{ background-position:-3360px bottom !important; }
li.sb-blogospherenews:hover{ background-position:-3360px top !important; }
li.sb-posterous{ background-position:-3430px bottom !important; }
li.sb-posterous:hover{ background-position:-3430px top !important; }
li.sb-techmeme{ background-position:-3500px bottom !important; }
li.sb-techmeme:hover{ background-position:-3500px top !important; }
li.sb-ekudos{ background-position:-3570px bottom !important; }
li.sb-ekudos:hover{ background-position:-3570px top !important; }
li.sb-pingfm{ background-position:-3640px bottom !important; }
li.sb-pingfm:hover{ background-position:-3640px top !important; }
li.sb-tomuse{ background-position:-3710px bottom !important; }
li.sb-tomuse:hover { background-position:-3710px top !important; }
li.sb-webblend{ background-position:-3780px bottom !important; }
li.sb-webblend:hover { background-position:-3780px top !important; }
li.sb-wykop{ background-position:-3850px bottom !important; }
li.sb-wykop:hover { background-position:-3850px top !important; }
li.sb-blogengage{ background-position:-3920px bottom !important; }
li.sb-blogengage:hover { background-position:-3920px top !important; }
li.sb-hyves { background-position:-3990px bottom !important; }
li.sb-hyves:hover { background-position:-3990px top !important; }
li.sb-pusha { background-position:-4060px bottom !important; }
li.sb-pusha:hover { background-position:-4060px top !important; }
li.sb-hatena { background-position:-4130px bottom !important; }
li.sb-hatena:hover { background-position:-4130px top !important; }
li.sb-mylinkvault { background-position:-4200px bottom !important; }
li.sb-mylinkvault:hover { background-position:-4200px top !important; }
li.sb-slashdot { background-position:-4270px bottom !important; }
li.sb-slashdot:hover { background-position:-4270px top !important; }
li.sb-squidoo { background-position:-4340px bottom !important; }
li.sb-squidoo:hover { background-position:-4340px top !important; }
li.sb-propeller { background-position:-4410px bottom !important; }
li.sb-propeller:hover { background-position:-4410px top !important; }
li.sb-faqpal { background-position:-4480px bottom !important; }
li.sb-faqpal:hover { background-position:-4480px top !important; }
li.sb-evernote { background-position:-4550px bottom !important; }
li.sb-evernote:hover { background-position:-4550px top !important; }
li.sb-meneame { background-position:-4620px bottom !important; }
li.sb-meneame:hover { background-position:-4620px top !important; }
li.sb-bitacoras { background-position:-4690px bottom !important; }
li.sb-bitacoras:hover { background-position:-4690px top !important; }
li.sb-jumptags { background-position:-4760px bottom !important; }
li.sb-jumptags:hover { background-position:-4760px top !important; }
li.sb-bebo { background-position:-4830px bottom !important; }
li.sb-bebo:hover { background-position:-4830px top !important; }
li.sb-n4g { background-position:-4900px bottom !important; }
li.sb-n4g:hover { background-position:-4900px top !important; }
li.sb-strands { background-position:-4970px bottom !important; }
li.sb-strands:hover { background-position:-4970px top !important; }
li.sb-orkut { background-position:-5040px bottom !important; }
li.sb-orkut:hover { background-position:-5040px top !important; }
li.sb-tumblr { background-position:-5110px bottom !important; }
li.sb-tumblr:hover { background-position:-5110px top !important; }
li.sb-stumpedia { background-position:-5180px bottom !important; }
li.sb-stumpedia:hover { background-position:-5180px top !important; }
li.sb-current { background-position:-5250px bottom !important; }
li.sb-current:hover { background-position:-5250px top !important; }
li.sb-blogger { background-position:-5320px bottom !important; }
li.sb-blogger:hover { background-position:-5320px top !important; }
li.sb-plurk { background-position:-5390px bottom !important; }
li.sb-plurk:hover { background-position:-5390px top !important; }*/