<?xml version="1.0"?>
<config>
    <tabs>
        <awall translate="label" module="awall">
            <label>aheadWorks Extensions</label>
            <sort_order>300</sort_order>
        </awall>
    </tabs>
<!-- 2019-11-27 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
"Disable aheadWorks notifications": https://github.com/repairzoom/m1/issues/14 -->
</config>
